<input type="hidden" id="project-id" value="<%= @project.id %>">
<main class="container-fluid">
	<div class="row">
		<div class="col l4">
			<div class="container account">
				<div class="valign center">
					<%= image_tag "/images/"+((!@project.logo.nil?) ? @project.logo : 'bg.jpg'), class: "head-img circle"%><br>
			        <h4 class="name"><%= @project.name %></h4>
				</div>
				<div class="collection project-data">
					<p class="collection-item">Team:<span class="badge"><a href="/team/<%= @team.id %>"><%= @team.name %></a></span></p>
					<p class="collection-item black-text">Speaker:
						<a class='dropdown-button btn btn-flat' data-id="<%= @speaker.id %>" href='#' id="speaker-btn"  data-activates='speaker-dropdown'><%= @speaker.name + " " + @speaker.surname %></a>
					</p>
				</div>
				<ul id='speaker-dropdown' class='dropdown-content'>
					<% @team.users.each do |u| %>
						<li><a href="#!" data-id="<%= u.id %>"><%= u.name + " " + u.surname %></a></li>
					<% end %>
				</ul>
				<div>
            <% @tags.each do |t|%>
	            <div class="chip"><a href="/search/?tag=<%= t.tag %>">#<%= t.tag %></a></div>
            <% end %>
				</div>
				<div>
					<textarea id="project-desc" class="materialize-textarea"><%= @project.description %></textarea>
				</div>
				<button class="waves-effect waves-light btn" id="save-data">Save!</button>
			</div>
		</div>
		<div class="col l8">
			<div class="container projects">
				<h4 class="center-align">Filling the timeline: </h4>
				<div class="head-circle"></div>
				<div class="row valign-wrapper right-card no-margin">
					<div class="col offset-s5 s7">
						<div id="all-my-blocks">
							<div class="row">
								<div class="col s6">
									<input class="margin-for-plus-photo photo-active" type="image" src="/images/Add.png"
									onclick="createMyPortfolioPoint()">
								</div>
							</div>
						</div>
						<div id="my-create-block">
							<div class="row">
								<div class="col s5">
									<input class="margin-for-plus-photo photo-active" type="image" src="/images/Add.png">
								</div>
								<div class="col s7">
									<div class="input-field col s12">
											<input id="name" type="text" class="validate">
											<label for="name" data-error="wrong" data-success="right">Heading</label>
									</div>
									<div class="input-field col s12">
											<input id="date" type="date" class="datepicker">
											<label for="date" data-error="wrong" data-success="right">Date(time?)</label>
									</div>
									<div class="input-field col s12">
											<input id="email" type="email" class="validate">
											<label for="email" data-error="wrong" data-success="right">Link</label>
									</div>
								</div>
							</div>
							<div class="row margin-for-plus-photo">
								<div class="input-field col s12">
									<textarea id="event-desc" class="materialize-textarea"></textarea>
									<label for="event-desc">Description</label>
								</div>
							</div>
							<a class="waves-effect waves-light btn-large">Submit</a>
							<a class="waves-effect waves-light btn-large" onclick="closeMyPortfolioPoint()">Close</a>
						</div>
					</div>
				</div>
				    <% @events.each do |e|%>
				        <% if e.nil? then continue end %>
				        <div class="row valign-wrapper right-card no-margin">
				        	<div class="col s5 valign hline"></div>
				        	<div class="col s7 card feature">
				        		<div class="card-image waves-effect waves-block waves-light">
				        		<img class="activator" src= "/images/<%= ((!e.photo.nil?) ? e.photo : 'bg.jpg')%>">
				        		</div>
				        		<div class="card-content">
				        			<span class="card-title activator grey-text text-darken-4"><%= e.created_at %><i class="material-icons right">more_vert</i></span>
				        			<p><a href="<%= e.link %>">This is a result link</a></p>
				        		</div>
				        		<div class="card-reveal">
				        			<span class="card-title grey-text text-darken-4"><%= e.created_at %><i class="material-icons right">Close</i></span>
				        			<p><%= e.description %></p>
				        		</div>
				        	</div>
				        </div>
				    <% end %>
			</div>
		</div>
	</div>
</main>
