<main class="container-fluid">
	<div class="row">
		<div class="col l4">
			<div class="container account">
				<div class="valign center">
					<!-- <img class="head-img circle" src="./img/add.png" alt="Bg"><br> -->
					<%= image_tag "/images/"+((!@user.avatar.nil?) ? @user.avatar : 'bg.jpg'), class: "head-img circle"%><br>
					<!-- <h4 class="name">Igor TheBest</h4> -->
			        <h4 class="name"><%= @user.name %> <%= @user.surname %></h4>
				</div>
				<!-- <div class="divider"></div> -->
				<div class="collection">
					<p class="collection-item center-align"><%= @user.email %></p>
					<p class="collection-item">Team:<span class="badge"><a href="/team/<%= @teams[0].id %>"><%= @teams[0].name %></a></span></p>
					<a href="#" class="collection-item black-text waves-effect waves-light btn">Write a message to <%= @user.name %></a>
				</div>
				<div>
					<div>
		            	<% @tags.each do |t|%>
		            	<div class="chip"><a href="/search/?tag=<%= t.tag %>">#<%= t.tag %></a></div>
		            	<% end %>
          </div>
				</div>
			</div>
		</div>
		<div class="col l8">
			<div class="container projects">
				<h4 class="center-align">Portfolio: </h4>
				<div class="head-circle"></div>
				    <% @projects.each do |p|%>
				        <div class="row valign-wrapper right-card no-margin">
				        	<div class="col s4 valign hline"></div>
				        	<div class="col s8 card feature">
				        		<div class="card-image waves-effect waves-block waves-light">
				        		<img class="activator" src= "/images/<%= ((!p.logo.nil?) ? p.logo : 'bg.jpg')%>">
				        		</div>
				        		<div class="card-content">
				        			<span class="card-title activator grey-text text-darken-4"><%= p.name %><i class="material-icons right">more_vert</i></span>
				        			<p><a href="/project/<%= p.id %>">This is a project link</a></p>
				        		</div>
				        		<div class="card-reveal">
				        			<span class="card-title grey-text text-darken-4"><%= p.name %><i class="material-icons right">Close</i></span>
				        			<p><%= p.description %></p>
				        		</div>
				        	</div>
				        </div>
				    <% end %>

			</div>
		</div>
	</div>
</main>
